# Ignore the virtual environment
venv/
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log and temp files
*.log
*.sqlite3
.DS_Store

# Ignore build and distribution files
build/
dist/
*.egg-info/

# Ignore VS Code and PyCharm settings
.vscode/
.idea/
